
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito')

// Bulma
@import "node_modules/bulma/bulma"

// Variables
@import 'variables'

body
  background: #FBFCFF
  min-height: 100vh
  overflow-x: hidden

.navbar-laravel
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)

.swiper-pagination-bullet
  background: white !important

.swiper-container-padding
  padding: 30px 0
  .swiper-pagination-bullet
    background: #2d2d2d !important